<div class="row wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-lg-10">
    <h2>提成管理</h2>
    <ol class="breadcrumb">
      <li>
        <a>所在位置</a>
      </li>
      <li class="active">
        <strong>提成管理</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
  <div class="ibox">
<div class="ibox-content">
  <div class="row">
    <div class="col-sm-2">
    年 :<select class="input-sm input-s-sm inline" ng-options="itemy as itemy for itemy in yearAry"  ng-model="yearSelect">
      <option value="">全部</option>
    </select>
      </div>
      <div class="col-sm-2">
   月份 : <select class="input-sm input-s-sm inline" ng-options="item as item for item in monthAry" ng-model="monthSelect">
      <option value="">全部</option>
    </select>
        </div>

    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" ng-model="searchText" placeholder="请输入{{openSelectType.text}}"
               ng-keypress="enterPress($event)"
               class="form-control">

        <div class="input-group-btn {{openSelect?'open':''}}" dropdown>
          <button class="btn btn-white dropdown-toggle" style="height: 34px;" dropdown-toggle ng-click="openSelect=!openSelect;" type="button">{{openSelectType.text}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-click="openSelectType={key:1,text:'客户姓名'};openSelect=false;"><a >客户姓名</a></li>
            <li ng-click="openSelectType={key:2,text:'推广人id'};openSelect=false;"><a>推广人id</a></li>
          </ul>

          <button tabindex="-1" class="btn btn-success"  ng-click="getPage()" type="button">查询</button>
        </div>
      </div>
    </div>

  <div class="col-sm-1">
    <span class="btn btn-sm btn-success" ng-click="doUpdatePayMoneyOk()"> 确认支付</span> </div>

    <div class="col-sm-1">
      <span class="btn btn-sm btn-warning" ng-click="doUpdatePayMoneyNo()"> 拒绝支付</span>
    </div>
</div>
  <div class="row">
    <div class="panel-body">
      <div ui-grid="gridOptions" ui-grid-selection="" ui-grid-pagination class="grid"></div>
    </div>
  </div>


</div></div></div></div>